@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --vermelho: #ff1919;
    --alto-contraste-fundo: #ffffff;
    --alto-contraste-texto: #000000;
    --alto-contraste-link: #ff1e00;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #ffffff;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #CB6D43;
    font-weight: 600;
}

.inicio-fundo {
    /* aula 3 */
    background-image: url('imagens/restart-background.png');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 2rem;
    top: 18rem;
    width: 45rem;
    height: auto;
    ;
}

.restart .col-4 {
    position: absolute;
    left: 15rem;
    align-items: left !important;
    justify-content: flex-start !important;
}

.esquerda-conteudo {
    display: flex;
    position: relative;
    right: 4rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--vermelho);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--vermelho);
}


#restart {
    position: relative;
    left: -10rem;  /* controla distância da esquerda */
    top: -2rem;  /* controla distância do topo */
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: "imagens/restart-gallery-pattern.png" top left no-repeat;
    background-size: 200px 200px;
    /* Ajuste o tamanho conforme necessário */
}

#restart .container {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    z-index: 8;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--vermelho);
}

#galeria {
    background-color: #FAF4F4;
    width: 100%;      /* ocupa toda a largura da coluna */
    max-width: 500px 700px; /* limite máximo */
    height: auto;     /* mantém a proporção */
    object-fit: cover; /* corta e centraliza a imagem */
}


.fundo-galeria {
    background:  #FAF4F4 bottom right no-repeat;
    background-size: cover;
}

#contato {
    background-image: url('imagens/restart-contact.png');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #cb4343;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #restart {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}